repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.14
  hooks:
    # try to fix what is possible
    - id: ruff
      args: ["--fix"]
    # perform formatting updates
    - id: ruff-format
    # validate if all is fine with preview mode
    - id: ruff